html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto Flex', sans-serif;
	border: 1px solid red;
	min-height: 100vh;
	margin: 0; padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


	
