@font-face {
	font-family: Roboto;
	src: url("asset/fonts/Roboto-Light.ttf");
}
@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
 }
* {
	box-sizing: border-box;
 }
 html {
	scroll-behavior: smooth;
 }
body {
	font-family: Roboto;
	min-height: 100vh;
	min-width: 320px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 18px;
}
.conteiner {
	max-width: 1440px;
	margin: 0 auto;
}
.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
.nav-link {
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	position: relative;
	color: orange;
}
a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: orange;
	left: 0;
	bottom: 0;
	transform: scale(0);
	transition: .3s;
}
a:hover:before {
	transform: scale(1);
}
.main-conteiner {
	display: flex;
	flex-wrap: wrap;
}
.section {
	width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid darkgrey;
}
.section-profile {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 40px 30px 40px;
	border-bottom: 10px solid darkgrey;
}
.profile-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
	justify-content: center;
}
.title-1 {
	position: relative;
	padding: 0;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 5px;
	word-spacing: 10px;
	color: grey;
}
.title-1::after {
	content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -115px;
    width: 230px;
    height: 2px;
    background-color: orange;
}
.title-3 {
	position: relative;
	padding: 0;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 200;
	letter-spacing: 2px;
	word-spacing: 10px;
	color: darkgrey;
}
.avatar {
	width: 280px;
	height: 330px;
}
.h-2 {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 5px;
	color: darkgrey;
}
.contact-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	line-height: 35px;
}
.paragraf {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
.skill-list {
	list-style: none;
	line-height: 35px;
}
.code {
	text-align: left;
	color: brown;
}
.git {
	text-decoration: none;
	margin: 0;
	padding: 0;
	line-height: 35px;
	margin-left: 20px;
	color: orange;
}
.header {
	background-color: grey;
}
.main {
	margin-bottom: auto;
}
.footer {
	background-color: grey;
	padding: 20px;
}
.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	text-align: right;
	text-decoration: none;
}



	
